@use "../util" as *;
main {
  padding-top: 100px;
}
#home {
  background-image: url("../../../images/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  @include breakpoint(medium) {
    background-image: url("../../../images/home/background-home-tablet.jpg");
    background-position: center center;
  }
  @include breakpoint(large) {
    background-image: url("../../../images/home/background-home-desktop.jpg");
    background-position: center center;
  }
}
.hero {
  min-height: calc(100vh - 100px);
  @include breakpoint(medium) {
    align-items: end;
    padding: 1rem;
  }
}

.grid-container {
  text-align: center;
  display: grid;
  padding-inline: 1rem;
  place-items: center;

  // width: 100%;
  // height: 100%;
  gap: 2rem;
  p {
    max-width: 50ch;
  }

  @include breakpoint(large) {
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 80rem)) minmax(
        1rem,
        1fr
      );
    // column-gap: 2rem;
    > *:first-child {
      grid-column: 2;
    }
    > *:last-child {
      grid-column: 3;
    }
    text-align: left;
    align-items: end;
    padding-bottom: max(6rem, 20vh);
  }
  @include breakpoint-down(small) {
    // padding-top: 5rem;
    align-content: center;
    gap: 1.5rem;
  }

  // justify-items: center;
}
